In [10]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split #cross_validation is deprecated
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, r2_score
from sklearn import tree

In [11]:
#loading the data
df=pd.read_csv('Decision_Tree_ Dataset.csv')

In [12]:
df.head()

   Initial Pay  Last Pay  Credit Score  house No    Sum Result
0          201     10018           250      3046  13515    yes
1          205     10016           395      3044  13660    yes
2          257     10129           109      3251  13746    yes
3          246     10064           324      3137  13771    yes
4          117     10115           496      3094  13822    yes

In [13]:
df.tail()

     Initial Pay  Last Pay  Credit Score  house No    Sum Result
995          413     14914           523      4683  20533     No
996          359     14423           927      4838  20547     No
997          316     14872           613      4760  20561     No
998          305     14926           897      4572  20700     No
999          168     14798           834      4937  20737     No

In [14]:
df.shape

(1000, 6)

In [15]:
print("dataset length: ", len(df))

dataset length:  1000

In [16]:
df.drop(['Sum'],axis=1,inplace=True)

In [17]:
df

     Initial Pay  Last Pay  Credit Score  house No Result
0            201     10018           250      3046    yes
1            205     10016           395      3044    yes
2            257     10129           109      3251    yes
3            246     10064           324      3137    yes
4            117     10115           496      3094    yes
..           ...       ...           ...       ...    ...
995          413     14914           523      4683     No
996          359     14423           927      4838     No
997          316     14872           613      4760     No
998          305     14926           897      4572     No
999          168     14798           834      4937     No

[1000 rows x 5 columns]

In [21]:
#seperating the independent variable and target variable
x=df.values[:,0:4]
y=df.values[:,4]

In [25]:
#splitting data for test and train
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=100)

In [28]:
#performing decision tree algo
#there are lots of parameters in DC that can be looked up on from the documentation, but in this case we need entropy hence the variable, maxdepth wil go till only 3 layers in the tree and then it stops
clf_entropy=DecisionTreeClassifier(criterion='entropy',random_state=100,max_depth=3,min_samples_leaf=5)
clf_entropy.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=3, min_samples_leaf=5,
                       random_state=100)

In [37]:
y_pred=clf_entropy.predict(x_test)

In [38]:
y_pred

array(['yes', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'No',
       'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'yes', 'No',
       'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'No', 'yes',
       'yes', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No',
       'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes',
       'yes', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No',
       'yes', 'yes', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'yes', 'yes', 'No', 'yes', 'yes', 'yes', 'yes',
       'No', 'yes', 'No', 'No', 'No', 'No', 'yes', 'No', 'No', 'No',
       'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'No',
       'No', 'yes', 'yes', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'No', 'yes', 'No', 'No', 'yes', 'yes', 'yes', 'yes',
       'yes', 'No', 'yes', 'No', 'yes', 'No', 'No', 'No', 'yes', 'yes',
       'No', 'No', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'yes', 'No',
       'No', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'yes',
       'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes',
       'No', 'No', 'yes', 'No', 'yes', 'yes', 'yes', 'yes', 'No', 'No',
       'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes', 'No', 'yes', 'No',
       'No', 'No', 'No', 'yes', 'No', 'No', 'No', 'No', 'No', 'No', 'No',
       'yes', 'yes', 'yes', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'No',
       'yes', 'No', 'yes', 'yes', 'yes', 'No', 'No', 'No', 'No', 'yes',
       'No', 'yes', 'No', 'No', 'No', 'yes', 'yes', 'No', 'yes', 'yes',
       'yes', 'No', 'No', 'yes', 'No', 'yes', 'yes', 'No', 'No', 'yes',
       'yes'], dtype=object)

In [39]:
#it will calculate how well the model can predict from the exact test size 
print("Accuracy is: ",accuracy_score(y_test,y_pred)*100)

Accuracy is:  93.66666666666667